<%- include ('partials/header') %>
<div class="jumbotron">
  <h1 class="display-4">Furniture Mart Application</h1>
  <p class="lead">This is the list of most popular Products</p>
  <a class="btn btn-primary btn-lg" href="/products" role="button">
  View Products</a>
</div>
<div class="container">
<div class ="row">
<p class="lead mb-3">Welcome <%= user.name %></p>
</div>
<div class="row">
   <p>
           <form action="/products/search" method="GET" class="form-inline">
               <div class="form-group">
                   <input type="text" name="search" placeholder="title search..." class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control"  name="filter">
                            <option selected></option>
                            <option value="Regular">Regular</option>
                           <option value="Popular">Popular</option>
                            <option value="On Sale">On Sale</option>
                             <option value="New Arrival">New Arrival</option>
                             <option value="Comedy">Comedy</option>
                             <option value="Animation">Animation</option>
                    </select>
                  </div>
                <div class="form-group">
                   <input type="submit" value="Search" class="btn btn-primary">
               </div>
           </form>
    </p>
</div>
<div class="row">
<% results.forEach(function(product){ %>
  <div class="col-md-3">
  <div class ="thumbnail">
    <img src="../images/<%= product.image %>" alt="Not Found">
    <div class="caption">
    <h3><span class="badge bg-warning text-dark"><%= product.description %></span></h3>
    <p>..</p>
    <div>
    <div class="price"><%= product.cost %></div>
    <a class="btn btn-primary" href="/products/<%= product._id %>">View</a> <a class="btn btn-primary" 
     href="/products/wishlist/<%= product._id %>">Add to Wish List</a></div>
    </div>
  </div>
  </div>
<% }); %>

</div>
<div class = "break" >
</div>
<% if(page > 1) { %><a class="selectedLink" href="/products?page=<%=page-1%>">Before</a> <% } %>
<% for(let i=iterator;i<endingLink;i++) { %>
    <% if(i < 1) { %>
    <% continue; %>
    <% } %>
   <% if(i === page) { %>
    <a class="selectedLink" href="/products?page=<%=i%>"><%=i%></a>
    <% continue; %>
    <% } %>
    <a class="selectedLink" href="/products?page=<%=i%>"><%=i%></a>
   <% } %>
<% if(page < np) { %><a class="selectedLink" href="/products?page=<%=page+1%>">After</a> <% } %>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

